* {
    box-sizing: border-box;
}

:root {
    --black: #000;

    --snow: #FCF7F8;
    --french-gray: #CED3DC;
    --rose-quartz: #ABA9C3;
    --denim: #275DAD;
    --paynes-gray: #5B616A;

    --amber: #FFBE0B;
    --rose: #FF006E;
    --blue-violet: #8338EC;

    --imperial-red: #F71735;
    --periwinkle: #C6D8FF;

    --light-african-violet: #A393BF;
    --dark-african-violet: #9882AC;
    --pomp-and-power: #73648A;
    --english-violet: #453750;
    --night: #0C0910;
}



body {
    background: var(--night);
    font-family:'Courier New', Courier, monospace;
    color: var(--snow);
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
}

#generic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
    color: var(--snow);
    border: 1px var(--rose) solid;
    background:none;
    border-radius: 5px;
    font-size: medium;
}

button:hover {
    background: var(--english-violet);
}

#advanced-settings {
    background: var(--black);
    display: block;
    height: initial;
    border: 1px var(--french-gray) solid;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
}

input[type="number"] {
    background: none;
    border: 1px var(--snow) solid;
    border-radius: 5px;
    color: var(--snow);
    padding: 0 5px;
}

#file-output-display {
    display: grid;
    margin: 10px;
    padding: 10px;
    background: var(--english-violet);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    border: 1px white solid;
    border-radius: 5px;
    text-align: center;
}

.output-container {
    display: inline-block;
    width: 100%;
    height: fit-content;
    background: var(--dark-african-violet);
    border: var(--snow) 1px solid;
    border-radius: 5px;
    color: var(--snow);
    padding: 5px;
}

.output-container p {
    background: var(--night);
    height: 1.5em;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.file-output {
    display: inline-block;
    width: 100%;
    height:fit-content;
    min-height:40px;
    text-align: center;
    justify-self: stretch;
    align-self:stretch;
    background: var(--black);
    border-radius: 5px;
}

video.file-output {
    border: var(--denim) solid 2px;
}

image.file-output {
    border: var(--amber) solid 2px;
}

#ouput-container {
    text-align: center;
}

#error-message {
    margin: 5px 0;
    color: var(--imperial-red);
}

#to-top {
    visibility: hidden;
}



@media screen and (min-width: 1000px) {
    #file-output-display {
        grid-template-columns: repeat(4, 1fr);
        
    }
}

@media screen and (min-width: 1600px) {
    #file-output-display {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 700px) {
    #file-output-display {
        grid-template-columns: repeat(2, 1fr);
    }
}


#display-style {
    background: none;
    background-color: var(--night);
    color: var(--periwinkle);
}


#filter-table {
    border-collapse: collapse;
}

#filter-table td, #filter-table th {
    border: 1px var(--english-violet) solid;
    background: var(--night);
    text-align:center;
}

#filter-table td[data-disabled="true"] {
    background: var(--paynes-gray);
}